<html class="no-js" lang="">

<head>

    {% block head %}
        <title>Gym manager</title>
    {% endblock %}

    <link href="/styles.css" rel="stylesheet">

</head>

<body>

<header>
    <div class="header_links">
        <a href="/" class="active">Instructors</a>
        <a href="/members">Members</a>
    </div>
</header>

{% block content %}{% endblock content %}

</body>
</html>
