{% extends "layout.njk" %}

{% block head %}
    <title>Gym manager</title>
{% endblock %}

{% block content %}
    <div class="card">
        <section
                class="avatar"
                style="width: 400px; height: 400px; margin: auto; background: url(https://yfh3na.sn.files.1drv.com/y4mABVc_7AP58mhPRmnkE4dCxhEM_4Budok-aJ2RbeC6N7KEDajI-MmDkA3wW8J2YU-IhTADtkbftEnNqdcDLnPHgej2_bqdJV-AuLKMDSfl-PObDggVGrsfdDt7u2SMEpZ606eHWgxJW9wH5ICJp6uFjDnc75QJJS7f8iF7GIqiG4bQCQBkx5q9R6DLPunoX1TsexVXRVDMx9nBCk17LhdBg?width=474&height=266&cropmode=none) no-repeat center center / cover"></section>
        <section class="details">
            <h3>NOVO INSTRUTOR</h3>
            <div class="item">
                <div>Nome</div>
                <input
                        type="text"
                        name="name"
                        placeholder="Nome do Instrutor"
                >
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <input
                        type="date"
                        name="birth"
                >
            </div>

            <div class="item">
                <div>Sexo</div>
                <span>
                        <input
                                type="radio"
                                name="gender"
                                value="M"
                                checked
                        > Masculino
                    </span>
                <span>
                    <input
                            type="radio"
                            name="gender"
                            value="F"
                    > Feminino
                </span>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input
                            type="text"
                            name="services"
                            placeholder="separe os serviços prestados por vírgula"
                    >
                </div>
            </div>
            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input
                            type="url"
                            name="avatar_url"
                            placeholder="https://"
                    >
                </div>
            </div>
                <button type="submit">Salvar</button>
        </section>
    </div>

{% endblock content %}